BasedOnStyle: LLVM
IndentWidth: 8
ColumnLimit: 120
AccessModifierOffset: -8
NamespaceIndentation: All
PointerAlignment: Left
AllowShortFunctionsOnASingleLine: Empty
SpacesInParentheses: false
SpaceAfterCStyleCast: true
SortIncludes: true
IncludeBlocks: Preserve
BreakBeforeBraces: Allman
AlignConsecutiveAssignments:
  Enabled: true
  AcrossEmptyLines: true
  AcrossComments: false
